:root,
:root::before,
:root::after {
   --github-logo-fill-color: rgb(156, 163, 175);
   --global-max-width: 960px;
   --global-padding: 1rem 2rem;
   --light-green: #9fff9c;
   --light-red: #ff9c9c;
   --shadow-color: #c0c0c0a4;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-size: 1.5em;
   font-weight: 400;
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #222;
}

header {
   flex: 0 0 auto;
   min-height: 100px;
   box-shadow: 0 2px 2px var(--shadow-color);
   display: flex;
   align-items: center;
   justify-content: center;
}

header h1 {
   flex: 1;
   max-width: var(--global-max-width);
   padding: var(--global-padding);
}

main {
   flex: 1 1 0;
   align-self: center;
   width: min(var(--global-max-width), 100%);
   padding: var(--global-padding);
}

main form {
   display: flex;
   flex-direction: column;
   gap: 1ch;
}

main .form-controls {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 1ch;
   padding: 0 0 1ch 0;
   border-bottom: 1px solid silver;
}

main label {
   text-align: left;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 0.25ch;
}

main label input {
   width: 100%;
}

main button#submit {
   border: 2px solid #bbb;
   box-shadow: 2px 2px 2px var(--shadow-color);
}

main form .read {
   background-color: var(--light-green);
}

main form .not-read {
   background-color: var(--light-red);
}

footer {
   flex: 0 0 auto;
   padding: 4px 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

footer a {
   display: flex;
   align-items: center;
}

footer svg {
   height: 24px;
   fill: var(--github-logo-fill-color);
   transition: fill 0.5s;
}

footer svg:hover {
   fill: black;
}

/*
* Borrowed from:
   * Skeleton V2.0.4
   * Copyright 2014, Dave Gamache
   * www.getskeleton.com
   * Free to use under the MIT license.
   * http://www.opensource.org/licenses/mit-license.php
   * 12/29/2014
*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   height: 38px;
   padding: 0 30px;
   color: #555;
   text-align: center;
   font-size: 13px;
   font-weight: 600;
   line-height: 38px;
   letter-spacing: .1rem;
   text-decoration: none;
   white-space: nowrap;
   background-color: transparent;
   border-radius: 4px;
   border: 1px solid #bbb;
   cursor: pointer;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
   color: #333;
   border-color: #888;
   outline: 0;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
   height: 38px;
   padding: 6px 10px;
   /* The 6px vertically centers text on FF, ignored by Webkit */
   background-color: #fff;
   border: 1px solid #D1D1D1;
   border-radius: 4px;
   box-shadow: none;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

textarea {
   min-height: 65px;
   padding-top: 6px;
   padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
   border: 1px solid #33C3F0;
   outline: 0;
}

label,
legend {
   font-weight: 600;
}

fieldset {
   padding: 0;
   border-width: 0;
}

label>.label-body {
   font-weight: normal;
}