:root,
:root::before,
:root::after {
   --github-logo-fill-color: rgb(156, 163, 175);
   --global-max-width: 960px;
   --global-padding: 1rem 2rem;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header {
   flex: 0 0 auto;
   min-height: 100px;
   box-shadow: 0 2px 2px grey;
   display: flex;
   align-items: center;
   justify-content: center;
}

header h1 {
   flex: 1;
   margin: 0;
   max-width: var(--global-max-width);
   padding: var(--global-padding);
}

main {
   flex: 1 1 0;
   align-self: center;
   width: min(var(--global-max-width), 100%);
   padding: var(--global-padding);
}

main form {
   text-align: center;
}

main .input-fields {
   display: flex;
   flex-flow: row-wrap;
   gap: 2rem;
}

main label {
   text-align: left;
}

main input[type="text"] {
   width: 100%;
}

footer {
   flex: 0 0 auto;
   padding: 4px 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

footer a {
   display: flex;
   align-items: center;
}

footer svg {
   height: 24px;
   fill: var(--github-logo-fill-color);
   transition: fill 0.5s;
}

footer svg:hover {
   fill: black;
}

input[type="checkbox"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   outline: none;
   border: none;
}

input[type="checkbox"]::before {
   content: '';
   display: inline-block;
   width: 5ch;
   height: 3rem;
   border: 2px solid #333;
   background-color: #fff;
   border-radius: 3px;
   margin-right: 5px;
   margin-top: 2px;
   vertical-align: middle;
}

input[type="checkbox"]:checked::before {
   background-color: #007bff;
   border-color: #007bff;
}

input[type="checkbox"]:hover::before {
   border-color: #555;
}

input[type="checkbox"]:focus::before {
   box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}